* text=auto eol=lf

*.bat text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.mp3 binary
*.mp4 binary
*.wav binary
*.jar binary
*.keystore binary
*.aab binary
*.apk binary
